.main_chat
  .main_chat__group-info
    .top-items
      .top-items__group-name
      %h1= @group.name
      .top-items__group-member 
        Member :
        %ul
          - @group.users.each do |user|
            %li= user.name 
    .top-edit 
      = link_to edit_group_path(@group), class: "top-edit__btn" do
        Edit
  .main_chat__message-list
    .messages
      = render @messages
  .main_chat__message-form
    .form-box__top 
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form-box__text', placeholder: 'type a message'
        .form-box__mask
          = f.label :image, class: 'form-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'form-box__image__file'
        = f.submit 'Send', class: 'form-box__send'